@font-face {
  font-family: 'AvenirRegular'; src: url("../assets/fonts/AvenirRegular.otf");
}

@font-face {
  font-family: 'AvenirBold'; src: url("../assets/fonts/AvenirBold.otf");
}

@font-face {
  font-family: 'AvenirSemiBold';
  src: url("../assets/fonts/Linotype\ -\ AvenirNextLTPro-Bold.otf");
}
